PORT=3000
NODE_ENV=development

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password_seguro
POSTGRES_DB=save_puppy_db
# Nota: En local usa localhost, en docker usa el nombre del servicio 'postgres'
DATABASE_URL=postgresql://postgres:password_seguro@localhost:5432/save_puppy_db?schema=public

# MongoDB
MONGO_USER=root
MONGO_PASSWORD=password_seguro
MONGO_DB=save_puppy_db
MONGO_URL=mongodb://root:password_seguro@localhost:27017/save_puppy_db?authSource=admin

# RabbitMQ
RABBITMQ_USER=user
RABBITMQ_PASS=password_seguro
RABBITMQ_URL=amqp://user:password_seguro@localhost:5672

# Redis
REDIS_URL=redis://localhost:6379

# Cloudinary
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret

# Firebase
GOOGLE_APPLICATION_CREDENTIALS=./firebase-credentials.json

# Seguridad (JWT)
JWT_SECRET=clave_secreta_para_tokens