// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

@import "../../../shared/styles/design-tokens.css";

:root {
    /** primary **/
    --ion-color-primary: var(--sp-primary);
    --ion-color-primary-rgb: var(--sp-primary-rgba);
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #db9421;
    --ion-color-primary-tint: #fab13c;

    /** secondary **/
    --ion-color-secondary: var(--sp-secondary);
    --ion-color-secondary-rgb: var(--sp-secondary-rgba);
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #604339;
    --ion-color-secondary-tint: #7c5e54;

    /** tertiary **/
    --ion-color-tertiary: var(--sp-accent);
    --ion-color-tertiary-rgb: 240, 98, 146;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #d35681;
    --ion-color-tertiary-tint: #f2729d;

    /** success **/
    --ion-color-success: #2dd36f;
    --ion-color-success-rgb: 45, 211, 111;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #28ba62;
    --ion-color-success-tint: #42d77d;

    /** warning **/
    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;

    /** danger **/
    --ion-color-danger: #eb445a;
    --ion-color-danger-rgb: 235, 68, 90;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #cf3c4f;
    --ion-color-danger-tint: #ed576b;

    /** dark **/
    --ion-color-dark: var(--sp-text);
    --ion-color-dark-rgb: 44, 44, 44;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #272727;
    --ion-color-dark-tint: #414141;

    /** medium **/
    --ion-color-medium: #92949c;
    --ion-color-medium-rgb: 146, 148, 156;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #808289;
    --ion-color-medium-tint: #9d9fa6;

    /** light **/
    --ion-color-light: var(--sp-background);
    --ion-color-light-rgb: 255, 249, 240;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #e0dbd4;
    --ion-color-light-tint: #fffaf2;

    /* Custom App Variables */
    --ion-font-family: var(--sp-font-family-body);
    --ion-background-color: var(--sp-background);
    --ion-text-color: var(--sp-text);
}